
### Folders ###

node_modules
gulpfile.js
package.json
.sass-cache
.publish
src/img
src/js
src/pdf
dist/js
dist/pdf

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
