
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      max-width: 50%;
    }
}

.wrap{
    flex-wrap: wrap;
}


.content-global{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top:1rem;
}

.content-global-1, .content-global-2{
    flex:1;
    flex-direction: column;
    padding-bottom:2rem;

}
.flex-align-center{
        align-self:center;

}
.f-basis-4{
    flex-basis:400px;
}

.f-basis-2{
    flex-basis:200px;
}

.flex-content-center{
    align-self:center;
    justify-content: center;
}


.content-global-3-top{
    margin:auto;
    padding:1rem;
    width:90%;
    background-color:$primaryColorBgPink;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:0rem;
    border-bottom-right-radius:0rem;
    text-align:center;
    padding-bottom:2rem;
}
.content-global-3{
    margin:auto;
    padding:1rem;
    width:90%;
    background-color:$primaryColorWhite;
    border-top-left-radius:0rem;
    border-top-right-radius:0rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    text-align:center;
    padding-bottom:2rem;
    box-shadow: 0px 2px 2px 0px rgba(209,207,209,1);
}

.center{
    display: inline-block;
    text-align: center;
}
.container-block{
    width: 100%;
    margin: auto;
    text-align: center;

}