
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      max-width: 50%;
    }
}

.wrap{
    flex-wrap: wrap;
}


.content-global{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top:5rem;
    border:1px dotted red;
}

.content-global-1, .content-global-2{
    flex:1;
    flex-direction: column;
    padding-bottom:2rem;

}

.flex-align-center{
        align-self:center;

}
.f-basis-4{
    flex-basis:400px;
}

.f-basis-2{
    flex-basis:200px;
}

.flex-content-center{
    align-self:center;
    justify-content: center;
}

//Caja contenedora
.content-rnd-top{
    margin:auto;
    padding:1rem;
    width:90%;
    background-color:$primaryColorBgPink;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:0rem;
    border-bottom-right-radius:0rem;
    border:1px solid $secondaryColorBgPink2;
    text-align:center;
    padding:2rem 0 2rem 0;
    box-shadow:$colorShadowBtn 0px 1px 1px;
}
.content-rnd-bottom{
    margin:auto;
    padding:1rem;
    width:90%;
    background-color:$primaryColorWhite;
    border-top-left-radius:0rem;
    border-top-right-radius:0rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    text-align:center;
    border:1px solid $secondaryColorBgBlack1;
    padding-bottom:2rem;
    box-shadow:$colorShadowBtn 0px 1px 1px;
}

.center{
    display: inline-block;
    text-align: center;
}
.container-block{
    width: 100%;
    margin: auto;
    text-align: center;
}
.container-center{
    display: block;
    width: 100%;
    margin: auto;
}

.container-inline{
    display: inline-block;
}

.content-float{
    float:left;
}

.justify-center{
    justify-content: center;
}
.test-flex{
    flex-direction: row;
    border:1px dashed green;
    display:flex;
    justify-content: center;
    align-self:center;
    padding:2rem;
}
.flex-container{
    flex:1;
    align-self: center;
    justify-content: center;
    margin: auto;
}
.flex-container-2{
    width:190px;
    align-self: center;
    justify-content: center;
    padding: 10px;
}
