.footer{
    float:none;
    display: flex;
    justify-content: center;
	padding: 3rem 2rem 1rem 2rem;
	background-image: url("../img/footer.svg");
    // background-image: url("../img/footer.png");
	background-size: contain;
    background-repeat: repeat-x;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        background-repeat: repeat-x;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        background-repeat: repeat-x;
    }
}

.footer_profile{
    position: relative;
        bottom: -100px;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 3rem 2rem 1rem 2rem;
    background-image: url("../img/footer.png");
    background-size: contain;
    background-repeat: repeat-x;
    //background-color: #BBDEF1;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        background-repeat: repeat;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        background-repeat: repeat;
    }
}

.copyright, .contact{
    margin: 1rem;
    text-align: center;
    width: 100%;
    
}

.copyright-index, .contact-index{
    margin: auto;
    text-align: center;
    //width: 85%;
    padding: .5rem;
}
