
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border:1px solid orange;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      max-width: 50%;
    }
}

.wrap{
    flex-wrap: wrap;
}

.container{
    width: 100%; 
}
.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding-top:2rem;
    padding-bottom:1rem;
    text-align: center;
    margin:auto;
    max-width: 1024px;
}

.content{
    &-flex-1, &-flex-2{
    display:flex;
    flex:1;
    flex-direction: column;
    padding:0rem 0 2rem 0rem;
    justify-content: flex-end;
    text-align: center;
    max-width: 350px;

    }

    &-flex-3{
    display:flex;
    flex:4;
    flex-direction: column;
    padding:0rem 0rem 0rem 0rem;
    justify-content: flex-end;
    text-align: center;
    margin: 0rem 0em 0rem 0rem;
    min-height:500px;
    max-width: 600px;
    }

    &-flex-4{
    display:flex;
    flex:1;
    flex-direction: column;
    padding:0rem 0 2rem 0rem;
    justify-content: flex-end;
    text-align: center;
    margin: 0.25rem 0.25rem 0rem 0;

    }
    
    &-flex-btn{
    width:auto;
    align-self:center;
    margin: 1rem;
    }
}

.flex-align-center{
    align-self:center;
}
.f{
    &-basis-5{
    flex-basis:500px;
    }
    &-basis-4{
    flex-basis:400px;
    }
    &-basis-3{
    flex-basis:300px;
    }
    &-basis-2{
    flex-basis:200px;
    }
}
.flex-content-center{
    align-self:center;
    justify-content: center;
}

//Caja contenedora
.content{
    &-rnd-top{
    margin:auto;
    padding:1.25rem 0rem;
    width:100%;
    max-width: 600px;
    background-color:$primaryColorBgPink;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    border-bottom-left-radius:0rem;
    border-bottom-right-radius:0rem;
    border:1px solid $secondaryColorBgPink2;
    text-align:center;
    box-shadow: 0px 1px 5px $secondaryColorBgBlack2;
    z-index:10;
    @media only screen and (min-width: 768px){
    }
}
 

    &-rnd-bottom{
    margin:auto;
    padding:1rem 0.75rem 1rem 0.75rem;
    width:100%;
    max-width: 600px;
    background-color:$primaryColorWhite;
    border-top-left-radius:0rem;
    border-top-right-radius:0rem;
    border-bottom-left-radius:1rem;
    border-bottom-right-radius:1rem;
    text-align:center;
    box-shadow: 0px 1px 5px $secondaryColorBgBlack2;
    @media only screen and (min-width: 768px){
    }
}
    
    &-bottom{
    align-self:center;
    justify-content: flex-end;
    }

    &-float{
    float:left;
    }
}

.center{
    display: inline-block;
    text-align: center;
}
.container{
    &-block{
    width: 100%;
    margin: auto;
    text-align: center;
    }
    
    &-center{
    display: block;
    width: 100%;
    margin: auto;
    }

    &-inline{
    display: inline-block;
    }
}

.justify-center{
    justify-content: center;
}
.test-flex{
    flex-direction: row;
    display:flex;
    justify-content: center;
    align-self:center;
    padding:2rem;
}
.flex-container{
    flex:1;
    align-self: center;
    justify-content: center;
    margin: auto;
}
.flex-container-2{
    width:190px;
    align-self: center;
    justify-content: center;
    padding: 10px;
}
.label{
    flex:1;
    width:95%;
    border-radius: 1rem;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 0px;
    padding:2rem;
    margin-left: 3%;
    justify-content: flex-end;
    box-shadow: $colorShadowBtn 0px 3px 3px;
}
.max-min{
    min-width: 300px;
    max-width: 360px;
}
hr{
    border:1px dotted $secondaryColorBgGreen2;
    margin: 1rem;
}
.testimonial{
    padding:2rem 1rem 2rem 1rem;
}
.container-icons{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
}