
.header-txt{
    flex:1;
    flex-direction: column;
    color:$primaryColorWhite;
    text-align: center;
    margin-bottom: 10%;
    align-self:flex-end;
    
    
    /*MEDIA QUERIES*/

    //Mobile Portrait
    @media only screen and (min-width: 550px) and (max-width: 767px){
          margin-bottom: -3%;
    }
    //Tablet Landscape
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        margin-bottom: 10%;
    }

    //Tablet Portrait
    @media only screen and (min-width: 980px){
        margin-bottom: 15%;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        margin-bottom: 5%;
    }
}
/*.header-txt-content{
    width:80%;
    margin:auto;


    //Tablet
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        width:60%;
    }
    //Desktop
    @media only screen and (min-width: 1024px){
        width:40%;
    }
}
*/
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-top: 15%;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        display: none;
    }
    /*Desktop*/
    @media only screen and (min-width: 1024px){
        display: none;
    }
}


