//Estilos para las imágenes, ilustraciones que utilizamos
//en la web


.rumble-img{
    margin:auto;
    padding-top:0rem;
    height: 250px;
    width: 295px;
    background-image: url("../img/rumble.svg");
    background-repeat: no-repeat;
     @media only screen and (min-width: 320px) and (max-width: 1023px){
    }
}
.logo-kidscode-header{
    //max-width: 39%;
    // position: absolute;
    //     top: 5%;
    //     left: 15%;
    //margin: 3% auto 0 6%;
    // margin:auto;
    //padding-top: 0rem;
    width: 200px;
    height: 100px;
    margin: auto;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    //display: none;
            /*MEDIA QUERIES*/
        /*Tablet*/
        @media only screen and (min-width: 768px) and (max-width: 1023px){
         display: block;
         width: 400px;
        height: 200px;
        }

        /*Desktop*/
        @media screen and (min-width: 1024px){
          display:block;
          width: 400px;
    height: 200px;
        }
}

.logo-kidscode{
    margin:auto;
    padding-top:0rem;
    height: 200px;
    width: 400px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;

    @media only screen and (min-width: 320px) and (max-width: 1023px){
        height:120px;
        width:280px;
        }
}

.arg1-img{
    background-image: url("../img/arg-1.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:300px;
    width:280px;
    height:445px;
    max-width:300px;
    margin:auto;

}
.arg2-img{
    background-image: url("../img/arg-2.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:300px;
    width:280px;
    height:440px;
    max-width:300px;
    margin:auto;
}
.arg3-img{
    background-image: url("../img/arg-3.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:300px;
    width:280px;
    height:430px;
    max-width:300px;
    margin:auto;
}

.bg-clouds{
    background-image: url("../img/bg-clouds.svg");
    background-repeat: no-repeat;
    background-size:cover;
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    background-image: url("../img/bg-clouds-sm.svg");
    background-repeat: no-repeat;
    background-size:cover;
    }
}
.bg-tierra-sup{
    background-image: url("../img/bg-tierra-sup.svg");
    background-repeat: repeat-x;
    position:relative;
    height: 220px;
    z-index: 100;
    }

.bg-tierra{
    background-image: url("../img/tierra-sm.svg");
    background-repeat: repeat-x;
}
.molino{
    background-image: url("../img/molino.svg");
    background-repeat: no-repeat;
    height:220px;
    width:150px;
    position:absolute;
    margin-left:20%;
}
    
.rumble-island{
    max-width: 70%;
    margin: auto;
    margin-top: 5rem;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        min-width: 70%;
    }
}
/*.step1{
    background-image: url("../img/set.svg");
    background-repeat: no-repeat;
    flex-basis:300px;
    width:300px;
    height: 215px;
    margin:auto;
}
.step2{
    background-image: url("../img/fichas.svg");
    background-repeat: no-repeat;
    flex-basis:300px;
    width:300px;
    height: 200px;
    margin:auto;
}
*/

/*decoración puzzles*/
.puzzle{
	min-height: 5rem;
	max-height: auto;
	width: 100%;
    margin: 0;
    padding: .5rem 0 1rem 0;
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        padding: .5rem 2rem 1rem 2rem;
    }
    /*Desktop*/
    @media only screen and (min-width: 1024px){
       padding: .5rem 2rem 1rem 2rem;
    }
}

/*.puzzle::after{
     width: 2rem;
    height: 2rem;
    border-radius: 50px;
    padding: 1em 1em 1em 1em;
    margin: 0 3rem 0 0;
    float: right;
}*/


.placeholder-rect-img{
    margin:auto;
    padding-top:1rem;
    height: 250px;
    width: 150px;
    background-color:grey;
    border-color:3px solid #ffffff;
}

.placeholder-squ-img{
    margin:20px;
    padding-top:1rem;
    height: 350px;
    width: 300px;
    background-color:grey;
    margin: auto;
}
.placeholder-anim-img{
    margin:auto;
    padding-top:1rem;
    width: 280px;
    height: 223px;
    background-image: url("../img/Demo-tablet-M.gif");
    border-color:3px solid #ffffff;
    background-repeat:no-repeat;
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        background-image: url("../img/Demo-tablet-T.gif");
        width:500px;
        height: 389px;
        background-repeat:no-repeat;
    }
    /*Desktop*/
    @media only screen and (min-width: 1024px){
        background-image: url("../img/Demo-tablet2.gif");
        width: 700px;
        height: 557px;
        background-repeat:no-repeat;
    }
}

.step1-bgd{
       background-image: url("../img/set.svg");
       background-repeat: no-repeat;
       padding:1rem;
       width: 50%;
}
.step2-bgd{
       background-image: url("../img/fichas.svg");
       background-repeat: no-repeat;
       padding:1rem;
       width: 50%;
}
.step3-bgd{
       background-image: url("../img/step3.svg");
       background-repeat: no-repeat;
       padding:1rem;
       width: 50%;
}

.mini-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    padding: 1em 1em 1em 1em;
    margin: 0 0 0 3rem;
    float: right;
    position: absolute;
}

.img-content2{
	/*Desktop*/
	@media only screen and (min-width: 1024px){
        width: auto;
        height: 100%;
        margin-top: 0;
        
        /*background-image: url(../img/imgKids2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -10% 0;
        position: absolute;*/
        //background-attachment: inherit;
        //flexbox-direction:row;
    }
}
.img-content3{
	/*Desktop*/
	@media only screen and (min-width: 1024px){
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

.steps-img{
    display:none;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      //flex-direction: row;
    }
}
.number-1{
    z-index: 10;
    position:relative;
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.number-2{
    z-index: 10;
    position:relative;
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    z-index: 10;
    visibility: hidden;
}
.number-3{
    z-index: 10;
    position:relative;
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.bg-img{
    background-image: url("../img/bg.svg");  
}
.bird1{
    display:float;
    float: right;
    margin-right:10%;
    background-image: url("../img/bird1.svg");
    background-size:cover;
    width:75px;
    height: 75px;
}
.bird2{
    display:float;
    float: left;
    margin-top:7%;
    margin-left:7%;
    background-image: url("../img/bird2.svg");
    background-size:cover;
    width:75px;
    height: 60px;
}
.butterfly{
    position: absolute;
    background-image: url("../img/butterfly.svg");
    background-size:cover;
    width:78px;
    height: 75px;
}
.rs-fb{
    background-image: url("../img/rs_fb.svg");
    background-size:cover;
    width:25px;
    height: 25px;
    margin: 10px;
}
.rs-go{
    background-image: url("../img/rs_go.svg");
    background-size:cover;
    width:25px;
    height: 25px;
    margin: 10px;
}
.rs-tw{
    background-image: url("../img/rs_tw.svg");
    background-size:cover;
    width:25px;
    height: 25px;
    margin: 10px;
}
.suelo{
    border-bottom: 25px solid transparent;
    border-top:0px solid transparent;
    border-image:url("../img/m-suelo.svg") 143 30 repeat;
}