//Estilos para las imágenes, ilustraciones que utilizamos
//en la web

//ilustración monster con isla debajo
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 500px;
    background-image: url("../img/bg-movil.svg");
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    
    /*MEDIA QUERIES*/

    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        background-image: url("../img/bg-tablet.svg");
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        background-image: url("../img/bg-desktop.svg");  
    }
}

.logo-kidscode{
    margin:auto;
    padding-top:0rem;
    height: 150px;
    width: 250px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
}

.arg1-img{
    background-image: url("../img/arg-1.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:400px;
    height:400px;
    min-width:350px;
    margin:auto;
}
.arg2-img{
    background-image: url("../img/arg-2.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:400px;
    width:150px;
    height:400px;
    min-width:250px;
    margin:auto;
}
.arg3-img{
    background-image: url("../img/arg-3.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:400px;
    width:150px;
    height:400px;
    min-width:250px;
    margin:auto;
}


.rumble-island{
    max-width: 70%;
    margin: auto;
    margin-top: 5rem;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        min-width: 70%;
    }
}

/*decoración puzzles*/
.puzzle{
	min-height: 5rem;
	max-height: auto;
	width: 100%;
    margin: 0;
    padding: .5rem 0 1rem 0;
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        padding: .5rem 2rem 1rem 2rem;
    }
    /*Desktop*/
    @media only screen and (min-width: 1024px){
       padding: .5rem 2rem 1rem 2rem;
    }
}

/*.puzzle::after{
     width: 2rem;
    height: 2rem;
    border-radius: 50px;
    padding: 1em 1em 1em 1em;
    margin: 0 3rem 0 0;
    float: right;
}*/
.rumble-img{
    margin:auto;
    padding-top:0rem;
    height: 240px;
    width: 300px;
    background-image: url("../img/rumble.svg");
    background-repeat: no-repeat;
     @media only screen and (min-width: 320px) and (max-width: 1023px){
    }
}

.placeholder-rect-img{
    margin:auto;
    padding-top:1rem;
    height: 250px;
    width: 150px;
    background-color:grey;
    border-color:3px solid #ffffff;
}

.placeholder-squ-img{
    margin:20px;
    padding-top:1rem;
    height: 350px;
    width: 300px;
    background-color:grey;
    margin: auto;
}
.placeholder-anim-img{
    margin:auto;
    padding-top:1rem;
    width: 280px;
    height: 200px;
    background-color:grey;
    border-color:3px solid #ffffff;
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        width:630px;
        height: 350px;
    }
    /*Desktop*/
    @media only screen and (min-width: 1024px){
        width: 720px;
        height: 400px;
    }
}
.placeholder-bgd{
       background-color:#404040;
       padding:1rem;
       width: 50%;
}

.mini-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    padding: 1em 1em 1em 1em;
    margin: 0 0 0 3rem;
    float: right;
    position: absolute;
}

.img-content2{
	/*Desktop*/
	@media only screen and (min-width: 1024px){
        width: auto;
        height: 100%;
        margin-top: 0;
        
        /*background-image: url(../img/imgKids2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -10% 0;
        position: absolute;*/
        //background-attachment: inherit;
        //flexbox-direction:row;
    }
}
.img-content3{
	/*Desktop*/
	@media only screen and (min-width: 1024px){
        width: 80%;
        margin-top: 20%;
        margin-bottom: 20%;
    }
}

.steps-img{
    display:none;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      //flex-direction: row;
    }
}
.number-1{
    z-index: 10;
    position:relative;
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:0px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.number-2{
    z-index: 10;
    position:relative;
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:0px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    z-index: 10;
    visibility: hidden;
}
.number-3{
    z-index: 10;
    position:relative;
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:0px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.bg-img{
    background-image: url("../img/bg.svg");  
}
