//Estilos para las imágenes, ilustraciones que utilizamos
//en la web
.rumble-img{
    display:flex;
    margin:auto;
    padding-top:0rem;
    height: 250px;
    background-image: url("../img/rumble.svg");
    background-repeat: no-repeat;
    border:1px solid blue;
    
    @media only screen and (min-width: 768px){
    width:420px;
    height: 400px;
    border:1px solid red; 
    }
}
.logo-kidscode{
    margin:auto;
    padding-top:0rem;
    height: 130px;
    width: 260px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;

    @media only screen and (min-width: 768px){
    height:130px;
    width:300px;
    }
}
.reason{
    &1-img{
    background-image: url("../img/arg-1.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:300px;
    width:280px;
    height:445px;
    max-width:300px;
    margin:auto;
}
    &2-img{
    background-image: url("../img/arg-2.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:300px;
    width:280px;
    height:440px;
    max-width:300px;
    margin:auto;
}
    &3-img{
    background-image: url("../img/arg-3.svg");
    background-repeat: no-repeat;
    background-size:cover;
    flex-basis:300px;
    width:280px;
    height:430px;
    max-width:300px;
    margin:auto;
    }
}
.bg{
    &-clouds{
    background-image: url("../img/bg-clouds.svg");
    background-repeat: no-repeat;
    background-size:cover;

    @media only screen and (min-width: 768px) and (max-width: 1023px){
    background-image: url("../img/bg-clouds-sm.svg");
    background-repeat: no-repeat;
    background-size:cover;
    }
}
    &-soil-sup{
    background-image: url("../img/bg-tierra-sup.svg");
    background-repeat: repeat-x;
    position:relative;
    height: 220px;
    z-index: 100;
    }   
    &-soil{
    background-image: url("../img/tierra-sm.svg");
    background-repeat: repeat-x;
    height:175px;
    }
}
.windmill-img{
    background-image: url("../img/molino.svg");
    background-repeat: no-repeat;
    height:220px;
    width:150px;
    position:absolute;
    margin-left:20%;
}   
.rumble-island-img{
    max-width: 70%;
    margin: auto;
    margin-top: 5rem;

    @media only screen and (min-width: 768px) and (max-width: 1023px){
        min-width: 70%;
    }
}
.step1-bgd{
       background-image: url("../img/step1.svg");
       background-repeat: no-repeat;
       padding:1rem;
}
.step2-bgd{
       background-image: url("../img/step2.svg");
       background-repeat: no-repeat;
       padding:1rem;  
}
.step3-bgd{
       background-image: url("../img/step3.svg");
       background-repeat: no-repeat;
       padding:1rem;
}
.step4-bgd{
       background-image: url("../img/step4.svg");
       background-repeat: no-repeat;
       padding:1rem;
}
.number-1-img{
    z-index: 10;
    position:relative;
    background-image: url("../img/1.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.number-2-img{
    z-index: 10;
    position:relative;
    background-image: url("../img/2.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    z-index: 10;
    visibility: hidden;
}
.number-3-img{
    z-index: 10;
    position:relative;
    background-image: url("../img/3.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.number-4-img{
    z-index: 10;
    position:relative;
    background-image: url("../img/4.svg");
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    padding:2rem;
    border-radius:80%;
    background-color: $primaryColorBgGreen;
    border: 5px solid white;
    margin-bottom: -40px;
    margin-left:-20px;
    box-shadow:$colorShadowBtn 0px 3px 3px;
    visibility: hidden;
}
.bird1-img{
    display:float;
    float: right;
    margin-right:10%;
    background-image: url("../img/bird1.svg");
    background-size:cover;
    width:75px;
    height: 75px;
}
.bird2-img{
    display:float;
    float: left;
    margin-top:7%;
    margin-left:7%;
    background-image: url("../img/bird2.svg");
    background-size:cover;
    width:75px;
    height: 60px;
}
.butterfly-img{
    position: absolute;
    background-image: url("../img/butterfly.svg");
    background-size:cover;
    width:78px;
    height: 75px;
}
.rs-fb-img{
    background-image: url("../img/rs_fb.svg");
    background-size:cover;
    width:25px;
    height: 25px;
    margin: 10px;
}
.rs-go-img{
    background-image: url("../img/rs_go.svg");
    background-size:cover;
    width:25px;
    height: 25px;
    margin: 10px;
}
.rs-tw-img{
    background-image: url("../img/rs_tw.svg");
    background-size:cover;
    width:25px;
    height: 25px;
    margin: 10px;
}

/*VIDEO*/
.videoWrapper {
    position: relative;
    padding-bottom: 54%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    @media screen and (min-width: 320px) and (max-width: 1023px) {
    padding-bottom: 52%; /* 16:9 */
    }
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}