.lightbox {
    padding: 20px;
    border: 10px $secondaryColorBgBlack1 solid;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: $shadow;
    text-align: center;
    background-color: white;
    position: absolute;
	left: 0;
	right: 0;
	margin: auto;
    }
}

.lightbox-header {
    float: left;
    margin-top: -60px;
}

.h1-lightbox {
    color: $secondaryColorTxtPink;
    font-size: 1.85rem;
    line-height: 2rem;
}

.close-position {
    position: relative;
    left: 97%;
    top: -58px;
    float: left;
    background-image: url(../img/btn-cancel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55% 55%;
    
}