.body-bg-color-profile{
    background-color: #BBDEF1;
}

.container-page-profile{
    width: 100%;
    height: auto;
    position: relative;
        top: 100px;
    padding-top: 1rem 0 1rem 0;
    background-color: #BBDEF1;
    //antes: color-bg-blue-bg
}

.profile-photo-create{
    float: none;
    width: 260px;
    margin: 2rem auto 1rem auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 6px;
    border: 5px solid white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(194,192,194,1);

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        float: left;
            top: 50%;
            bottom: 50%;
    }
}

.profile-photo-create:active{
    top: 1px;
}

.profile-btn {
    width: 210px;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 6px;
    border: 5px solid white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(194,192,194,1);
    position: relative;
    top: 0px;
}

.profile-photo-select--img {
    // background-image: url(../img/kid_add.png);
    background-color: $secondaryColorBgBlue3;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    // height: 165px;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: all 0.3s ease 0s;
}

.profile-photo-select--img>img,.profile-photo-select--img-selected>img,.profile-photo-select--img-new>img{
    width: 80%;
    margin: auto 10%;
}
.profile-photo-select--img-selected {
    // background-image: url(../img/kid_add.png);
    background-color: $secondaryColorBgBlue3;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    // height: 165px;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: all 0.3s ease 0s;
}

.profile-photo-select--img-new {
    background-color: $secondaryColorBgBlue3;
    opacity: .2;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    // height: 165px;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: all 0.3s ease 0s;
}

.profile-photo-select-avatar--img>a>img{
    width: 25%;
    margin: auto 3.5%;
    cursor: pointer;
}

.profile-photo-select-avatar--img>a>img:hover{
    background-color: $secondaryColorBgGreen3;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}

.profile-photo-select-avatar{
    float: none;
    width: 260px;
    margin: 2rem auto 1rem auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 6px;
    border: 5px solid white;
    transition: all 0.3s ease 0s;
    //cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(194,192,194,1);

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        float: left;
            top: 50%;
            bottom: 50%;
    }
}

.container-new-profile{
    width: 85%;
    height: auto;
    margin: 0 7.5%;
    padding: 1rem;
    overflow: auto;

    position: relative;
        top:0;
        left:0;

    border-radius: 20px;
    border: 5px solid $primaryColorWhite;
    box-shadow: 0px 2px 2px 0px rgba(194,192,194,1);
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 999px){
     width: 80%;
     margin: 0 10% 3% 10%;
   }

    /*MEDIA QUERIES*/
    /*Big tablet + Little Desktop*/
    @media only screen and (min-width: 1000px) and (max-width: 1123px){
     width: 70%;
     margin: 0 15% 3% 15%;
   }

    /*Desktop*/
    @media only screen and (min-width: 1124px){
      width: 50%;
      margin: 0 25% 2% 25%;
    } 

}

.container-new-profile-disabled{
    background-color: $primaryColorBgBlack;
    z-index: 999;

}

.container-profile{
    width: 85%;
    height: auto;
    margin: 0 7.5%;
    padding: 1rem;
    overflow: auto;

    position: relative;
        top:0;
        left:0;
    // top: 50%;
    // transform: translateY(-50%);

    border-radius: 20px;
    border: 5px solid $primaryColorWhite;
    box-shadow: 0px 2px 2px 0px rgba(194,192,194,1);
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 999px){
     width: 80%;
     margin: 0 10% 3% 10%;
   }

    /*MEDIA QUERIES*/
    /*Big tablet + Little Desktop*/
    @media only screen and (min-width: 1000px) and (max-width: 1123px){
     width: 70%;
     margin: 0 15% 3% 15%;
   }

    /*Desktop*/
    @media only screen and (min-width: 1124px){
      width: 50%;
      margin: 0 25% .5% 25%;
    } 

}

.profile-title-create, .profile-info-create, .profile-btn-add, .profile-info{
    float:none;
    text-align: center;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        float: right;
        width: 50%;
        text-align: left;
    }
}

.profile-title > h3{
    line-height: 1rem;
}

.profile-info-create > input{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 35px;
}
.profile-info-create > label{
    display: block;
}

.profile-info > input{
    width: 50%;
    margin-left: 10px;
}
.profile-info > label{
   display: inline;
   width: 20%;
}

.container-account-edit{
    position: relative;
        //top: 50px;
    overflow: auto;
}

.account-name{
    display: inline;
    float: left;
    padding-left: 7.5%;
    line-height: 0;
    width: 50%;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 999px){
     padding-left: 10%;
   }

    /*Big tablet + Little Desktop*/
    @media only screen and (min-width: 1000px) and (max-width: 1123px){
     padding-left: 15%;
   }

    /*Desktop*/
    @media only screen and (min-width: 1124px){
      padding-left: 25%;
    } 

}

.account-edit{
    float: right;
    padding-right: 7.5%;
    width: 50%;
    display: inline;
    line-height: 0;
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 999px){
     padding-right: 10%;
   }

    /*Big tablet + Little Desktop*/
    @media only screen and (min-width: 1000px) and (max-width: 1123px){
     padding-right: 15%;
   }

    /*Desktop*/
    @media only screen and (min-width: 1124px){
      padding-right: 25%;
    } 
}

.account-edit--img{
   display: block;
   float: right;
   width: 40px;
   margin-top: -20px;
   height: auto;
   cursor: pointer;

   /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px){
      display: none;
 } 
}

.account-edit::after{
   content: none;
   float: right;

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px) {
      content: "Editar cuenta familiar";
      cursor: pointer;
    } 

}

.profile-title{
    float:none;
    text-align: center;
    display: block;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        width: 80%;
        margin: 0 10%;
    }
}

.profile-title > h3{
    line-height: 1rem;
}

.profile-photo{
    float: none;
    // display: inline-block;
    width: 220px;
    margin: 1rem auto;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 6px;
    border: 5px solid white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px $colorShadowBtn;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        float: left;
            top: 50%;
            bottom: 50%;
         margin: 1rem auto 1rem 3rem;
    }
}

.profile-photo.float-left{
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){ 
        float:left;
        margin-left: 1.2rem;
    }
}
.profile-photo.float-right{
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){ 
       float:right;
       margin-right: 1.2rem;
    }
}

.profile-photo > a > h4{
    line-height: 0rem;
    color: $primaryColorBgBlack;
}

.profile-photo-create > a > h4{
    color: $primaryColorBgBlack;
}

.profile-info>div{
    margin: 1rem;
}

.lbl-profile-title{
    font-size: 1rem;
}
.lbl-profile-txt > p{
    line-height: 2rem;
    font-size: 1rem;
    margin-top: 0;
}

.lbl-profile-txt{
    font-size: 1rem;
    display: inline-block;
    width: 80%;
    margin: auto 10%;
    padding-left: 1px;
    border-radius: 5px;
    border: 1px solid $primaryColorBgBlue;
    color: $primaryColorBgBlue;
    background-color: $primaryColorWhite;
    resize: none;
    line-height: 2rem;
    //margin-bottom: 1.5rem;
    
    
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
       //margin-left: 1rem;
       padding-left: .5rem;
       width:100%;
       margin:auto;
       
    }
}
.lbl-profile-txt.inline{
    overflow: none;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        width: 60%;
        float:right;
        
    }
}


.profile-btn-delete > .btn-act{
    font-size: 1rem;
    background-color: $secondaryColorBgPink1;
    padding: 1rem;

}

.profile-btn-delete{
    float:none;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        float: right;
        margin: 1rem;
    }
}

.profile-btn-add > .btn-act{
    font-size: 1rem;
    padding: 1rem 2.5rem;

}

.profile-return{
    position: absolute;
        top: .4rem;
        left: .5rem;

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        top: .8rem;
        left: .5rem;
    }

}
.profile-return > img{
    width: 30px;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        width: 50px;
    }

}
.profile-return::before{
    content:"Volver";
    color:$primaryColorWhite;
    font-size: .6rem;
    position: absolute;
        top: 20px;
        left: 2px;

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        font-size: .8rem;
        position: absolute;
            top: 45px;
            left: 8px;
    }
}

.container-new-profile>a>.profile-return{
    position: absolute;
        top: .2rem;
        left: .5rem;

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        top: .4rem;
        left: .5rem;
    }
}

.container-new-profile>a>.profile-return > img{
    width: 30px;
    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        width: 30px;
    }

}

.container-new-profile>a>.profile-return::before{
    content: "Volver";
    color:$primaryColorWhite;
    font-size: .6rem;
    position: absolute;
        top: 20px;
        left: 2px;

    /*MEDIA QUERIES*/
    /*Tablet & Desktop*/
    @media only screen and (min-width: 768px){
        font-size: .7rem;
        position: absolute;
            top: 1px;
            left: 40px;
    }
}

.profile-closed{
    display:none;
}

.profile-disable{
    pointer-events: none;
    opacity: 0.3;
}

