.page-header {
    padding: 30px;
    text-align: center;
    background-color: $primaryColorBgBlue;
    margin-top: 0px;
    color: white;
    margin-bottom: 80px;
}

.terms-sections {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.ol {
    border-left: 3px #E6E6E6 solid;
    padding-left: 20px;
    font-family: open sans, sans-serif;
    
}