.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-image: url("../img/bgMobile.svg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    
    /*MEDIA QUERIES*/

    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        background-image: url("../img/bgTablet.svg");
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        background-image: url("../img/bgDesktop.svg");    
    }
}

.slogan{
    max-width: 100%;
    padding: 0rem;
    margin: 43% auto auto auto;
    margin-left: auto;
    margin-right: auto;
    
    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 568px) and (max-width: 765px){
        max-width: 100%;
        margin: 0%;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        max-width: 40%;
        margin: 55% auto 3% 10%;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        max-width: 39%;
        margin: 19% auto 3% 10%;
    }
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-top: 15%;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        display: none;
    }

    /*Desktop*/
    @media only screen and (min-width: 1024px){
        display: none;
    }
}


