body{
    font-size: 16px; 
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 400;
    text-rendering: optimizeLegibility;
    max-width:100%;  
    height: auto;
    min-width: 320px;
}

a{
    text-decoration: none;
}
p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1{
    font-size: 2.5rem;
    line-height: 2.2rem;
    margin-top: 1.36rem;
    margin-bottom: 1.36rem;
    font-weight: 700;
}
.t-h1{
    font-size: 1.75rem;
    line-height: 2rem;

    /*MEDIA QUERIES*/
    /*Tablet*/
    @media only screen and (min-width: 768px) and (max-width: 1023px){
        
    }
    /*Desktop*/
    @media only screen and (min-width: 1024px){
        font-size: 2.5rem;
        line-height: 2.7rem;   
    }
}

h2{
    font-size: 1.75rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    padding: 0 2rem 0 2rem;
}

h3{
    font-size: 1.35rem;
    line-height: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h4{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h5{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 2rem;
    margin-bottom: 2.1rem;
}

h6{
    font-size: 0.625rem;
    line-height: 1rem;
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;
}

